*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  background-image: url('../img/default-pattern.png');
  font-family: 'Montserrat', sans-serif;
}

.container{
  width: 70%;
  margin: 0 auto;
  margin-top: 50px;
}

/* sezione testata */

header{
  height: 550px;
  position: relative;
}

.header-top{
  position: relative;
  height: 500px;

}
.header-top .logo{
  position: absolute;
  height: 500px;
  width: 100%;
  border: 10px solid #ffffff;
  background-image: url('../img/default-header.jpg');
  background-size: cover;
  background-position: center;
}
.header-top .title{
  position: absolute;
  color: #ffffff;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  text-transform: uppercase;
}
.header-top .title h1{
  display: inline-block;
  font-size: 250%;
  border: 2px solid #ffffff;
  padding: 0 60px;
  margin-bottom: 50px;
}
.header-top .title h2{
  font-size: 150%;
}

.header-top .title i{
  display: block;
  font-size: 60px;
}


.header-bottom .menu{
  height: 50px;
  line-height: 50px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  text-transform: uppercase;
}

/* sezione menu */

.menu li{
  display: inline-block;
  list-style: none;
  padding: 0 15px;
  border-left: 1px solid black;
}
.menu li:first-child{
  border-left: none;
}
.menu li:hover{
  background-color: rgba(0, 0, 0, 0.6);
}

.active{
  background-color: rgba(0, 0, 0, 0.6);
}

.menu a{
  text-decoration: none;
  font-weight: bold;
  font-size: 14px;
  color: #ffffff;
}

/* sezione main */

main{
  margin: 2% 0;
}
main:after{
  content: '';
  display: table;
  clear: both;
}

.formatting{
  background: #ffffff;
  border-radius: 5px;
  padding: 10px;
}
.formatting h2{
  margin-bottom: 25px;
  text-shadow: 2px 2px lightgrey;
  font-weight: normal;
}

.icon {
  color: #FAA501;
}

/* colonna sinistra */

.float-left{
  float: left;
}

.col-left{
  width: 24%;
  background: #ffffff;
  border-radius: 5px;
  padding: 3px 10px;
}
.col-left li{
  list-style: none;
  padding-bottom: 3px;
}
.col-left a{
  color: green;
  font-weight: bold;
  text-decoration: none;
}
.col-left h2{
  font-weight: lighter;
}

.col-left-header i{
  font-size: 30px;
  padding-right: 8px;
}
.col-left-header h2{
  display: inline-block;
  width: 10%;
}
.col-left-header:after{
  content: "";
  display: table;
  clear: both;
}

/* colonna centro */

.col-center{
  width: 46%;
  margin: 0 3%;
}

/* colonna destra */

.col-right{
  width: 24%;
}
.col-right .element{
  margin-bottom: 15px;
}

/* sezione footer */

.piepagina{
  background-color: #ffffff;
  margin-bottom: 20px;
  border-radius: 5px;
}

.credential{
  width: 98%;
  margin: 0 auto;
  color: lightgrey;
  font-style: italic;
  font-weight: bold;
  font-size: 18px;
  text-align: center;
  border-bottom: 2px solid lightgrey;
}

.social::after{
  content: "";
  display: table;
  clear: both;
}
.social-box{
  float: left;
  width: calc(100% / 3);
  font-size: 50px;
  text-align: center;
  padding: 25px 0;
}

.social-box a{
  text-decoration: none;
  color: lightgrey;
}

.social-box a:hover{
  color: grey;
}
